<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <title>Halteverbot online bestellen</title>

    <base href="{{ app.request.getSchemeAndHttpHost() }}"/>

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/chuckkihvziframe/css/normalize.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="https://www.static-immobilienscout24.de/fro/core/3.0.1-0/css/core.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/chuckkihvziframe/css/display.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/chuckkihvziframe/css/datepicker.css') }}"/>

    <script type="text/javascript" src="https://kit.fontawesome.com/92df57eace.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.bundle.min.js"
            integrity="sha256-VCsWOz+0GuHdS/sIICtQNTFJdbaDI80rxvoB7BXabrU=" crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://www.static-immobilienscout24.de/fro/core/3.0.1-0/js/core.min.js"></script>

</head>
<body onLoad="document.getElementById('tags').focus();">

{% block noscript %}
    <noscript>
        <style>
            .page-cover {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                height: 100%;
                z-index: 100;
            }

            .page-cover p {
                width: 95%;
                font-size: 15px;
            }

            .page-cover p {
                position: absolute;
                top: 10%;
                left: 50%;
                transform: translate(-50%, -10%);
                width: 50%;
                color: white;
                background: rgba(0, 0, 0, 0.6);
                padding: 2rem;
                border-radius: 4px;
            }

            body:before {
                content: " ";
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.7);
                z-index: 99;
            }</style>
        <div class="page-cover"><p>
                Um eine Bestellung für ein Halteverbot auszulösen benötigen Sie JavaScript.
                Ohne diese Funktion ist eine Halteverbotbestellung nicht möglich. Sollte dies bei Ihnen der Fall sein, so nehmen wir
                Ihre Bestellung gerne via Telefon <a href="tel://+4921517892382">+49 2151 –
                    789 23 82</a> oder via E-Mail: <a href="mailto:info@halteverbot-beantragen.de">info@halteverbot-beantragen.de</a>
                entgegen.<br><br>Anleitung zum Aktivieren von JavaScript: <a
                    href="https://www.enable-javascript.com/de/" target="_blank">www.enable-javascript.com/</a>
            </p></div>
    </noscript>
{% endblock %}

<a name="top" id="top" href="#"></a>
<h2>Halteverbot bestellen</h2>


{% block content %}

{% endblock %}

{% block footer %}
    <div id="footer">
        <a href="extern/page/agb/#top" class="agb-link">AGB</a> |
        <a href="extern/page/widerruf/#top" class="agb-link">Widerruf</a> |
        <a href="extern/page/datenschutzerklaerung" class="agb-link">Datenschutz</a> |
        <a href="extern/page/impressum/#top" class="imprint-link">Impressum</a>
    </div>
{% endblock %}

{% block jsbottom %}

{% endblock %}

</body>
</html>
