{% extends "@ChuckkiHvzIframe/base.html.twig" %}


{% block content %}
    <div class="citysearch">
        <h3 id="hvzlistdropdown">Preise für Ihre Halteverbotszone in:</h3>

        <div class="ta_wrapper">
            <input autofocus type="search" name="hvzLoopUp" placeholder="Name oder PLZ der Stadt eingeben" value="" autocomplete="off"  id="tags">
            <button id="searchButton" class="searchBtn">
                <span class="">Suchen</span>
            </button>
        </div>


        <div class="sexp">
            Suchen Sie nach den folgenden Mustern: "<b>Berlin</b>", "<b>10115 Berlin</b>" oder "<b>10115</b>"
        </div>
        <div id="content"></div>
    </div>

{% endblock %}


{% block jsbottom %}
    <script type="application/javascript">
        $(document).ready(function () {

            let t = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace("ort"),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: "/search/%QUERY",
                    wildcard: "%QUERY"
                }
            });

            t.initialize();
            let tagsEl = $("#tags");
            tagsEl.typeahead({
                minLength: 1,
                hint: true,
                highlight: true
            }, {
                source: t.ttAdapter(),
                name: "myorts",
                displayKey: "ort",
                limit: 20
            });

            var selectedDatum;

            tagsEl.on("typeahead:selected", function (ev, suggestion) {
                selectedDatum = suggestion;
                loadContent(selectedDatum);
            });

            $("#searchButton").click(function () {
                loadContent(selectedDatum);
            });

            tagsEl.keypress(function (e) {
                if (13 === e.which) {
                    loadContent(selectedDatum);
                }
            });

            tagsEl.focusout(function () {
                if ($(window).width() < 800) {
                    $(".tt-suggestion:first-child").trigger('click');
                }
                return true;
            });

            function loadContent() {
                $("#content").load('/extern/hvb/' + selectedDatum['id'] + '/', function () {
                    $("#startDateForHvz").datepicker({
                        altFormat: "dd.mm.yy",
                        minDate: "+7d",
                        beforeShow: function () {
                            $("#ctrl_startDateInput").parent().addClass('notempty');
                        }
                    }).on("change", function () {
                        $("#startDateForHvz").datepicker("option", "altField", "#ctrl_startDateInput");
                        cancelSelection();
                        updatePrice();
                    });
                });
            }
        });
    </script>
{% endblock %}
