<div class="status-message status-confirm">
    <h2>Bestellung erfolgreich abgeschlossen</h2>
    <p>
        Vielen Dank, wir haben Ihre Bestellung erhalten und Ihnen eine Bestätigungsmail an {{ customermail }} geschickt.
        Dort finden Sie nochmals alle von Ihnen angegebene Daten. Falls wir etwas nicht korrekt erhalten habe,
        kontaktieren Sie uns bitte umgehend.<br>
        Für eine reibungslose Kommunikation, erhalten Sie nachfolgend Ihre Auftragsnummer:
        <strong>{{ ordernumber }}</strong>
    </p>
    <p>

    </p>
</div>
